<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js">
	</script>

</head>
<body ng-app="">

	<nav>
		<div class="smileyFaceContainer">
			<img class="smileyFaceImage" src="images/ngMadLibsSmileyFace.jpg">
		</div>

		<div class="logoContainer">
			<img class="logoImage" src="images/ngMadLibsLogo.jpg">
			<h1>Automate This!</h1>	
		</div>
	</nav>
	<div class="inputContainer"  ng-init="maleName='male name'; job_title='job title';tedious_task='tedious task'; dirty_task='dirty task'; celebrity='celebrity'; useless_skill='useless skill'; adjective='adjective'; obnoxiuous_celebrity = 'obnoxiuous celebrity'; huge_number='huge number'">
		<h2>Provide the following words:</h2>

		<table>
			<tbody class="inputBody">
				<tr>
					<td><input ng-model="maleName" type="text" /></td>
					<td><input ng-model="job_title" type="text"/></td>
					<td><input ng-model="tedious_task" type="text"/></td>
				</tr>
				<tr>
					<td><input ng-model="dirty_task" type="text"/></td>
					<td><input ng-model="celebrity" type="text"/></td>
					<td><input ng-model="useless_skill" type="text"/></td>
				</tr>
				<tr>
					<td><input ng-model="adjective" type="text"/></td>
					<td><input ng-model="obnoxiuous_celebrity" type="text"/></td>
					<td><input ng-model="huge_number" type="text"/></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="textContainer">
		<p class="madLibText" >
			<u>{{ maleName }}</u> was a <u>{{job_title}}</u> who loved technology. Although he loved parts of her job, he absolutely hated  <u>{{tedious_task}}</u> and <u>{{dirty_task}}</u>. So, <u>{{maleName}}</u> met with his life mentor <u>{{celebrity}}</u> who told him to learn how to <u>{{useless_skill}}</u> with Thinkful. Thinkful didn't offer a course on <u>{{useless_skill}}</u> so he studied programming instead.
		</p> 
		<br/>
		<br/>
		<p class="madLibText"> 
			What a great decision! With his new skills, <u>{{maleName}}</u> built a(n) <u>{{adjective}}</u> robot named <u>{{obnoxiuous_celebrity}}</u> that not only loved <u>{{dirty_task}}</u> but did it <u>{{huge_number}}</u> faster. 
		</p>
	</div>

	

	
</body>
</html>